<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<title>Rikka</title>

</head>

<body>
    <div class="summary">
        <span class="nes-text" style="font-size:80px;">Rikka</span>
        {% if code %}
            <p class="error" style="color: yellow;font-size: small;">{{code}}</p>
        {% endif %}
        <p class="blank"></p>
        <div class="nes-field" id="inputs" style="text-align:center;">
            <form action='/search' method="post">
                <label for="name_field">Enter BGM's ID</label>
                <div class="input_wrap">
                    <input type="text" id="trackid" name="trackid" required minlength="1" style="width:600px;height:40px;" wrap="soft" class="nes-input">
                </div>
                <label for="name_field">If needed, enter the number of songs</label>
                <div class="input_wrap">
                    <input type="number" id="num" name="num" required minlength="1" style="width:600px;height:40px;" wrap="soft" class="nes-input" value="50">
                </div>
                <p class="blankafter"></p>
                <button type="submit" class="nes-btn is-primary">Create!</button>
            </form>
        </div>
    </div>
</body>
</html>